# Binaries
kube-event-logger

# Logs
*.log

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo

# Go-related
bin/
*.exe
*.out
*.test
*.o
*.a
*.so
*.lo

# Dependency directory
vendor/

# Cache and build files
go.sum
go.work
go.work.sum

# Environment files
.env

# Database files
*.sqlite
*.sql-journal
*.sql
*.dump

# Kubernetes secrets
secrets.yaml
kubeconfig
kube-event-logger
